<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <title>Document Editor - Tour Guide Template -- View</title>
    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="/stylesheets/flat-ui.css" rel="stylesheet">

    <script src="/javascripts/index.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
</head>



<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Document Editor</a>
        </div>

    </div>
</div>


</div>


<!-- Start Container -->
<div class="container">





    <div class="starter-template">
        <h4 id="headid">Tour Guide - Enter Document Details</h4>


    <div class=".container-fluid">


        <div class="login-screen">

            <div class="login-icon" style="margin-top:7%; margin-left: 8%">
                <img src="images/icons/svg/clipboard.svg" alt="Clipboard">
             Tour Guide Details
            </div>

            <form id="tourguidedescriptionForm" name="tourguidedescriptionForm" method="POST" action="tourguideDetailsForm" class="login-form">
                <div class="form-group">
                    <input type="text" name="login" required="yes" class="form-control login-field" value="" placeholder="Enter your name" id="login-name">
                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>

                <div class="form-group">
                    <input type="text" name="documentname" required="yes" class="form-control login-field" value="" placeholder="Enter the name of the document" id="documentname">
                </div>

                <div class="form-group">
                    <input type="text" name="description" class="form-control" value="" placeholder="Enter A Description" id="description">
                </div>

                <input class="btn btn-primary btn-lg btn-block" type="submit" name="submit" id="submit" value="Submit" />
            </form>
        </div>

    </div>
</div>
</div>



</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
</body>
</html>
