<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <title>Document Editor - Tour Guide Template -- View</title>
    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="/stylesheets/flat-ui.css" rel="stylesheet">

    <script src="/javascripts/index.js"></script>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>
        $(document).ready(function()
        {
            //Handles menu drop down
            $('.dropdown-menu').find('span').click(function (e) {
                e.stopPropagation();
            });
            // handles enter button for inputform
            $("#login-name").keyup(function(event){
                if(event.keyCode == 13){
                    $("#submitLoginFormButton").click();
                }
            });
        });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
</head>



<body>


<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Document Editor</a>
        </div>
        <div class="navbar-collapse collapse">


            <!-- The drop down menu -->
            <ul class="nav navbar-nav navbar-right">

                <%            <!--Show current user if he is available -->
                        if(typeof currentUser == 'string')
                {
                %>
                <li  class="currentUser" id="currentUser">Welcome, <%= currentUser %> </li>
                <li> <button style="margin-top: 10%" class="btn btn-warning" onclick="logOut()"> Sign out </button></li>
                <%}else{%>
                <li style="display:none;" class="currentUser" id="currentUser">Welcome,  id </li>
                <li class="divider-vertical"><a href="/createUser">Create User</a></li>
                <li class="drop down">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                    <div class="dropdown-menu" style="padding: 15px; padding-bottom: 10px;">
                        <!-- Login form here -->
                        <span id="loginForm" method="post" accept-charset="UTF-8" style="padding: 2%; padding-bottom:5%">
                            <input id="login-name" style="margin-bottom: 15px;" type="text" placeholder="Name" name="login" size="30" />
                             <button id="submitLoginFormButton" class="btn btn-primary"  type="button" onclick="submitLoginForm()" style="clear: left; width: 100%; height: 32px; font-size: 13px;" name="commit" value="Sign In">Sign In</button>

                        </span>
                    </div>
                    <%}%>




                </li>
            </ul>

        </div>

    </div>
</div>


</div>



<!-- Start Container -->
<div class="container">

    <div>
        <!-- Show some nice info if a user was created-->
        <% if(typeof existingUser == 'boolean' && existingUser==true)
        {%>
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Warning!</strong> The user is already registered.
        </div>
        <% }else if(typeof existingUser == 'boolean' && existingUser==false){%>
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Well done!</strong> The user is created with success.
        </div>
        <%} %>
        <div id="alertUserNonExisting" style="display:none;"  class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>Error!</strong> The user does not exists, register first.
        </div>

    </div>



    <div class="starter-template enclosingFormContainer">
        <h4 id="headid">Tour Guide Information</h4>
        <i class="fa fa-book fa-5x"></i>



            <form id="tourguidedescriptionForm" name="tourguidedescriptionForm" method="POST" action="tourguideDetailsForm" class="login-form form">

                <div class="form-group">
                    <input type="text" name="documentname" required="yes" class="form-control login-field" value="" placeholder="Enter the name of the document" id="documentname">
                </div>

                <div class="form-group">
                    <input type="text" name="description" class="form-control" value="" placeholder="Enter A Description" id="description">
                </div>

                <input class="btn btn-primary btn-lg btn-block" type="submit" name="submit" id="submit" value="Submit" />
            </form>

</div>
</div>



</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
</body>
</html>
