<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <title>Document Editor - Tour Guide Template -- View</title>
    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/starter-template.css" rel="stylesheet">

      <link href="/stylesheets/tourguideTemplate.css" rel="stylesheet">
      <link href="/stylesheets/weather-icons.css" rel="stylesheet">
      <link href="/stylesheets/flat-ui.css" rel="stylesheet">


    <script src="/dist/js/jquery.sticky.js"></script><!-- Support for Sticky for edit button-->


      <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuKc9mQmTkmImXmq6XhTybz3dqPFmONfg&sensor=false">
  </script>


  <script type="text/javascript">
      function setGoogleMap(position)
      {
          var mapProp = {
              center:new google.maps.LatLng( position.coords.latitude, position.coords.longitude),
              zoom:15,
              mapTypeId:google.maps.MapTypeId.ROADMAP
          };
          var map=new google.maps.Map(document.getElementById("googleMap")
                  ,mapProp);
          map.setOptions({draggable: false, zoomControl: false, scrollwheel: false, disableDoubleClickZoom: true});

      }

      google.maps.event.addDomListener(window, 'load', initMap);

      function initMap()
      {
          if (navigator.geolocation)
          {
              navigator.geolocation.getCurrentPosition(setGoogleMap);
          }
          else{x.innerHTML = "Geolocation is not supported by this browser.";}
      }

      $(document).ready(function(){
          $("#sticker").sticky({topSpacing:0});
      });


  </script>

  </head>


  <body>

    <div class="navbar navbar-default navbar-fixed-top" style="display: hidden" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Document Editor</a>
        </div>
      </div>
    </div>


<!-- Start Container -->
<div class="container">

    <div class="row toprow">
        <div class="col-lg-12  col-xs-12">
            <div class="row borderPaper">
                <div class="col-md-8  col-xs-8 borderright">
                    <div class="row">
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div  class="col-md-6">
                                    <h5>Place</h5>
                                </div>
                                <div  class="col-md-6 spaceBetweenTitle">
                                    <span class="label label-default">Placeholder 1</span>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-4">
                        </div>

                     </div>
                    <div class="row spaceBetweenleft">
                        <div class="col-md-10">
                            <div>Information</div>
                            <span class="label label-default">Placeholder 4</span>
                            <div class="input">
                                <textarea class="small"  style=" width: 100%;"name="textarea" id="textarea" rows="3" disabled="" placeholder="Lorem ipsum dolor sit amet, tation albucius eam at, ad solum ponderum definitiones mea, mea numquam pertinacia id. Molestie appetere dissentiet in sea, et dico lorem meliore vel, graecis constituto an pro. Ei doming appellantur conclusionemque sed. Soleat inermis prodesset ei mea, est viris bonorum electram no, mei quem ubique gubergren ad. Mea at soluta voluptua.

Sit cetero omnesque reformidans ad, an rebum repudiare sit, has nostro feugait ut. Fierent invidunt maiestatis cum ut. Vel id errem facete, id eos nostro repudiandae. Eum ut dicit gubergren. Ad timeam lucilius per. Ad mel dolorum fuisset omnesque.
"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-10  spaceBetweenleft">
                           <div>Point of Interests</div>
                            <span class="label label-default">Placeholder 5</span>
                            <div class="list-group">
                                <a class="list-group-item disabled"><small>Cras justo odio</small></a>
                                <a class="list-group-item disabled"><small>Dapibus ac facilisis in</small></a>
                                <a class="list-group-item disabled"><small>Morbi leo risus</small></a>
                                <a  class="list-group-item disabled"><small>Porta ac consectetur ac</small></a>
                                <a class="list-group-item disabled"><small>Vestibulum at eros</small></a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-4  col-xs-4 ">
                    <div class="row">
                        <div class="col-md-12 spaceBetweenTitle">
                            <div>Weather Forecast</div>
                            <span class="label label-default">Placeholder 2</span>
                        </div>
                     </div>

                    <div class="row">
                        <div class="col-md-12 spaceBetweenright">

                            <div class="row">
                                <div  class="col-md-4 celciusSign">
                                    <span class="label label-default">Placeholder 3</span>
                                </div>
                                <div  class="col-md-8">
                                   <i class="wi-celcius fa-2x "></i>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="row spaceBetweenright">
                        <div class="col-md-12">
                            <div>Holidays - Event</div>
                            <span class="label label-default">Placeholder 6</span>
                            <ul class="list-group">
                                <li class="list-group-item disabled"><small>Cras justo odio</small></li>
                                <li class="list-group-item disabled"><small>Dapibus ac facilisis in</small></li>
                            </ul>
                            <span class="label label-default ">Placeholder 7</span>

                            <div id="googleMap" style="height:240px; margin-bottom: 5%"></div>

                        </div>
                    </div>

                </div>

            </div>
         </div>

    </div>

</div>
    <!-- /.container -->

        <a href="<%= link %>"   class="btn btn-block btn-lg btn-success">Edit Document</a>
        <div class="progress" style="margin-top: 10px;">
            <div class="progress-bar" style="width: 45%;"></div>
        </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>


  </body>
</html>
