<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
    <title>Document Editor - Tour Guide Template -- View</title>
    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- FontAwesome -->
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/starter-template.css" rel="stylesheet">
      <link href="/stylesheets/tourguideTemplate.css" rel="stylesheet">
      <link href="/stylesheets/weather-icons.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  <script src="/javascripts/index.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>


  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuKc9mQmTkmImXmq6XhTybz3dqPFmONfg&sensor=false">
  </script>


  <script type="text/javascript">
      function setGoogleMap(position)
      {
          var mapProp = {
              center:new google.maps.LatLng( position.coords.latitude, position.coords.longitude),
              zoom:15,
              mapTypeId:google.maps.MapTypeId.ROADMAP
          };
          var map=new google.maps.Map(document.getElementById("googleMap")
                  ,mapProp);
      }

      google.maps.event.addDomListener(window, 'load', initMap);

      function initMap()
      {
          if (navigator.geolocation)
          {
              navigator.geolocation.getCurrentPosition(setGoogleMap);
          }
          else{x.innerHTML = "Geolocation is not supported by this browser.";}
      }


  </script>

  </head>


  <body>

    <div class="navbar navbar-default navbar-fixed-top" style="display: hidden" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Document Editor</a>
        </div>
      </div>
    </div>





<!-- Start Container -->
<div class="container">


    <div class="well well-sm document-well">
        <div class="row">
            <div class="col-md-4">
                <h5>Place</h5>
                <div class="well well-sm">
                    <span class="label label-default">Placeholder 1</span>
                </div>
            </div>
            <div class="col-md-5  ">
            </div>
            <div class="col-md-3 ">
                <h4>Weather Forecast</h4>
                    <h4><span class="label label-default">Placeholder 2</span></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <h4>Information</h4>
                <div class="well ">
                    <span class="label label-default">Placeholder 4</span>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class=" col-md-3">
                <div class="row">
                    <div class="col-xs-8">
                            <h4><span class="label label-default">Placeholder 3</span></h4>
                    </div>
                    <div class="col-xs-1">
                        <i class="wi-celcius fa-3x"></i>
                    </div>
                    <div class="col-xs-3">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7">
                <h4>Point of Interests  </h4>
                <div class="well well-sm">
                    <span class="label label-default">Placeholder 5</span>
                    <div class="list-group">
                            <a class="list-group-item disabled">Cras justo odio</a>
                            <a class="list-group-item disabled">Dapibus ac facilisis in</a>
                            <a class="list-group-item disabled">Morbi leo risus</a>
                            <a  class="list-group-item disabled">Porta ac consectetur ac</a>
                            <a class="list-group-item disabled">Vestibulum at eros</a>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <h4>Holidays - Event</h4>
                <div class="well well-sm">
                    <span class="label label-default">Placeholder 6</span>
                    <ul class="list-group">
                        <li class="list-group-item disabled">Cras justo odio</li>
                        <li class="list-group-item disabled">Dapibus ac facilisis in</li>
                    </ul>
                    <div id="googleMap" style="width:220px;height:240px;"></div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-2">
            </div>
        </div>

    </div>

</div>
    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
  </body>
</html>
