.document-well
{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.list-group > a.disabled {
    color: #999999;
}
.list-group > a.disabled:hover,
.list-group > a.disabled:focus {
    color: #999999;
    text-decoration: none;
    background-color: transparent;
}

.list-group > li.disabled {
    color: #999999;
}
.list-group > li.disabled:hover,
.list-group > li.disabled:focus {
    color: #999999;
    text-decoration: none;
    background-color: transparent;
}

#map-canvas { height: 100% }

.demo-content {
    float: left;
    margin-left: 20px;
    width: 580px;
}

.borderleft{
  border-left: thin solid skyblue;

}
.borderright{
    border-right: thin solid skyblue;

}

.spaceBetweenleft{
    margin-top: 5%;
}


.spaceBetweenright{
    margin-top:10%;
}



.borderPaper{
    border: thin solid #3e8bc5;
    border-radius:25px;
    height: 100%;

}

.toprow{
    margin-top: 2%;
    margin-bottom: 1%;
}

.spaceBetweenTitle{
    margin-top: 14px;

}


.yellow{
    background-color: #ffcc66;
}

.red{
    background-color: darkred;
}

.green{
    background-color: #27ae60;
}


