.document-well
{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.list-group > a.disabled {
    color: #999999;
}
.list-group > a.disabled:hover,
.list-group > a.disabled:focus {
    color: #999999;
    text-decoration: none;
    background-color: transparent;
}

.list-group > li.disabled {
    color: #999999;
}
.list-group > li.disabled:hover,
.list-group > li.disabled:focus {
    color: #999999;
    text-decoration: none;
    background-color: transparent;
}

#map-canvas { height: 100% }

